certifi==2020.4.5.1
cffi==1.14.0
cryptography==2.9.2
decorator==4.4.2
future==0.18.2
pyaes==1.6.1
pycparser==2.20
Pyrogram==0.17.1
PySocks==1.7.1
python-decouple==3.3
python-telegram-bot==12.7
pytube3==9.6.4
six==1.14.0
TgCrypto==1.2.1
tornado==6.0.4
typing-extensions==3.7.4.2
